<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l4 offset-l2 s12">
        <ul>
          <li>
            <a
              class="grey-text text-lighten-3"
              href="https://www.facebook.com/BuiSang.Vo/"
            >
              <img
                alt="Facebook"
                loading="lazy"
                src="https://static.tutsplus.com/packs/media/images/social-facebook-93108fd35035bca93a592253a9f53fce.svg"
              />
            </a>
          </li>

          <li>
            <a
              class="grey-text text-lighten-3"
              href="https://www.pinterest.com/buisang785/"
            >
              <img
                alt="Pinterest"
                loading="lazy"
                src="https://static.tutsplus.com/packs/media/images/social-pinterest-8e1f03f3ce917823445c7fc7a1a0d709.svg"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container-copyright">© 2022 Copyright Text</div>
  </div>
</footer>
